.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  /* border: 1px solid var(--dark-color); */
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.section.cards-container h2:after{
  border-bottom: 2px solid var(--brandPrimary, #ffea00);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}
.cards-container .button-container .button{
  background-color:  #ffea00;
    border-radius:  0;
    color: #202020;
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 1em 2.5em;
    text-transform: uppercase;
}

.cards-recent-articles.cards-container .cards-card-body h5{
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  color:#202020;
}

.cards-recent-articles.cards-container .cards-card-body{
  margin:10px 0px;
}

.cards-recent-articles.cards-container .cards-card-body p{
  font-size: 0.875rem;
  margin-top: 1rem;
  color: dimgray;
}

.cards-wanttogo.cards-container .cards-card-body h5{
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  color:#202020;
}

.cards-wanttogo.cards-container .cards-card-body{
  margin:10px 0px;
}

.cards-wanttogo.cards-container .cards-card-body p:last-child{
  font-size: 0.875rem;
  margin-top: 1rem;
  color: dimgray;
}

.cards-wanttogo .default-content-wrapper h3{
  font-family: var(--body-font-asar);
}

.cards-recent-articles .default-content-wrapper h2{
  font-family: var(--body-font-asar);
}

.section.cards-recent-articles{
  padding-top:0px;
}

.section.cards-wanttogo{
  margin-bottom: 40px;
}

.section.hr-horizontal-line{
  border: none;
  border-top: 1px solid #ebebeb;
  max-width: 1200px;
  margin:auto;
  padding:32px 16px;
}